{
  "extends": [
    "airbnb/base",
    "plugin:fp/recommended",
    "plugin:ava/recommended",
  ],
  "parser": "babel-eslint",
  "plugins": [
    "fp",
    "prefer-object-spread",
    "ava",
  ],
  "rules": {
    "no-confusing-arrow": 0,
    "no-underscore-dangle": 0,
    "semi": ["error", "always"],
    "new-cap": [2, {"capIsNew": false, "newIsCap": true }],
    "arrow-parens": 0,
    "comma-dangle": ["error", "always-multiline"],
    "operator-linebreak": ["error", "after"],
    "arrow-body-style": 0,
    "no-plusplus": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "__" }],

    "fp/no-class": 0,
    "fp/no-this": 0,
    "fp/no-nil": 0,
    "fp/no-mutation": 0,
    "fp/no-unused-expression": 0,

    "prefer-object-spread/prefer-object-spread": 2,
  },
  "globals": {
    "NODE_ENV": true,
  }
}
